<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>login</title>
</head>
<body>
	<div>
		<div th:if="${param.error}">エラー: ユーザ名またはパスワードが違います。</div>
		<div>
			<form th:action="@{/authenticate}" method="post">
				<label>ユーザー名</label> <input type="text" name="username" required />
				<label>パスワード</label> <input type="password" name="password" required />
				<div>
					<input type="submit" value="ログイン" />
				</div>

			</form>
		</div>
	</div>
</body>
</html>